@import "../vars.scss";

.Container {
  overflow-x: hidden;
  .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
  }
  .header,
  .footer {
    width: 100vw;
    height: 50px;
    color: white;
    position: absolute;
    .scroll {
      background-color: $gray;
    }
  }
  .header {
    top: 0;
  }
  .footer {
    bottom: 0;
  }
  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      height: 40px;
      width: 40px;
      fill: white;
    }
  }

  .menu {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 20%;
    left: 10%;
    button {
      display: flex;
      color: white;
      background-color: transparent;
    }
    .icon {
      height: 20px;
      width: 1rem;
      background-color: $light-gray;
    }
  }
}
