@import "../vars.scss";

.Slider {
  width: 100vw;
  height: 100vh;
  .slideContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-30vw, 0);
  }

  .menuContainer {
    position: absolute;
    right: 0;
    top: 50px;
  }
}
