@import "../vars.scss";

.Container {
  overflow-x: hidden;
  .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    pointer-events: none;
  }
  .header,
  .footer {
    width: 100vw;
    height: 5rem;
    color: white;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header {
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient($background, rgba(0, 0, 0, 0));

    > * {
      position: relative;

      left: 10vw;
      text-transform: uppercase;
    }
    :first-child {
      margin-top: 7vh;
    }
    :nth-child(2) {
      margin: 0;
      font-weight: 500;
    }
  }

  .footer {
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0) 20%, $background);
    padding: 1.5rem 0 0.5rem;
    stroke: none;
    ul {
      :nth-child(4) {
        transform: scale(0.8);
      }
    }
  }
  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    margin: 0 10vw;
    svg {
      height: 40px;
      width: 40px;
      fill: #888;
      &:hover {
        fill: #ccc;
      }
    }
  }

  .menu {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 20%;
    left: 30px;
    opacity: 0;
    pointer-events: auto;

    button {
      display: flex;
      color: #888;
      background-color: transparent;
      cursor: pointer;
      align-items: center;

      border: none;
      margin: 0;
      text-decoration: none;
      &:hover {
        color: #eee;
        .icon {
          background-color: #ccc;
        }
      }
    }
    .icon {
      height: 30px;
      width: 3px;
      margin: 8px;
      background-color: #444;
    }
  }
}
