@import "../vars.scss";

.Slider {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .slideContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-20%, 0);
    overflow: hidden;
  }
  .overlay {
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0) 40%, $background 80%);
    position: absolute;
    top: 0;
    left: 0;
  }
  .divider {
    background: linear-gradient(250deg, $background 20%, rgba(0, 0, 0, 0) 90%);
    height: 100vh;
    width: 100vw;
    position: absolute;
    right: 0;
    top: 0;
  }
  .menuContainer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
  }
}
