@import "../vars.scss";

.SmallComponent {
  .description {
    color: $light-gray;
    text-align: left;
    margin: 0 1rem;
    font-size: 0.8rem;
  }
  video {
    width: 100%;
    height: auto;
    max-height: 300px;
  }
}
