@import "../vars.scss";

.LargeComponent {
  display: flex;
  align-items: center;
  @media (max-width: $tablet) {
    flex-direction: column;
  }
  .description {
    color: $light-gray;
    margin-left: 3rem;
    text-align: left;
    font-size: 0.8rem;
    @media (max-width: $tablet) {
      margin: 0;
    }
  }
  video {
    width: 70%;
    height: auto;
    max-height: 500px;
    @media (max-width: $tablet) {
      width: 100%;
    }
  }
}
